{% extends "layout.html" %} {% block head %}
<title>Sobre</title>
{% endblock %}{% block content %}
<main>
    <div class="corpo">

        <h1>
            Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível.
        </h1>
        <p> As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
        <button> <a href="https://rocketseat.com.br/starter">Quero avançar para o próximo nível!</a> </button>


    </div>
</main>
{% endblock %}